﻿
@{
    ViewData["Title"] = "Company Profile";
}

<div id="main">
    @Html.Partial("Main")
</div>

<!-- Functions -->
<script>
$(function() {
    UIFunction();
    populateDataUtama();

            $("#grid_Finance")
          .DataTable({
            "dom": "R<'row'<'col-md-6'l><'col-md-6'f>>t<'row'<'col-md-6'i><'col-md-6'p>>",
            //"lengthMenu": [
            //  [3, -1],
            //  ["Less", "All"]
            //],
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
});

function UIFunction() {
    $('#navlink-home').removeClass("active");
    $('#navlink-vendormanagement').addClass("active");
    $('#navlink-pakta').attr("hidden", "hidden");
    $('#navlink-contactus').attr("hidden", "hidden");
    $('#footer').attr("hidden", "hidden");
};

function populateDataUtama(){
    $.ajax({
        url: "/CompanyProfiles/GetVendorAkunByVendID",
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            $('#du_Website').val(data.website);
            $('#du_CompanyName').val(data.companyName);
            $('#du_Category').val(data.category);
            $('#du_BusinessEntity').val(data.bentukUsaha);
            $('#du_CompanyAddress').val(data.address);
            $('#du_ZipCode').val(data.zipCode);
            $('#du_Country').val(data.negara);
            $('#du_PhoneNo').val(data.noTelp);
            $('#du_Province').val(data.provinsi);
            $('#du_City').val(data.kota);
            $('#du_District').val(data.kec);
            $('#du_SalesName').val(data.picName);
            $('#du_SalesEmail').val(data.picEmail);
            $('#du_SalesPhoneNo').val(data.picPhone);
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}

function populateLicense(){
    $.ajax({
        url: "/CompanyProfiles/GetLicenseByVendID",
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            $('#du_Website').val(data.website);
            $('#du_CompanyName').val(data.companyName);
            $('#du_Category').val(data.category);
            $('#du_BusinessEntity').val(data.bentukUsaha);
            $('#du_CompanyAddress').val(data.address);
            $('#du_ZipCode').val(data.zipCode);
            $('#du_Country').val(data.negara);
            $('#du_PhoneNo').val(data.noTelp);
            $('#du_Province').val(data.provinsi);
            $('#du_City').val(data.kota);
            $('#du_District').val(data.kec);
            $('#du_SalesName').val(data.picName);
            $('#du_SalesEmail').val(data.picEmail);
            $('#du_SalesPhoneNo').val(data.picPhone);
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}

</script>