﻿<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title" style="font-weight:bold; text-transform:uppercase;">@ViewBag.Local["company_profile"].Value</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <ul class="nav nav-tabs justify-content-center" id="custom-content-below-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-four-masterdata-tab" data-toggle="pill" href="#custom-tabs-four-masterdata" role="tab" aria-controls="custom-tabs-four-masterdata" aria-selected="true">@ViewBag.Local["master_data"].Value</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-legal-tab" data-toggle="pill" href="#custom-tabs-four-legal" role="tab" aria-controls="custom-tabs-four-legal" aria-selected="false">@ViewBag.Local["legal"].Value</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-tax-tab" data-toggle="pill" href="#custom-tabs-four-tax" role="tab" aria-controls="custom-tabs-four-tax" aria-selected="false">@ViewBag.Local["tax"].Value</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-finance-tab" data-toggle="pill" href="#custom-tabs-four-finance" role="tab" aria-controls="custom-tabs-four-finance" aria-selected="false">@ViewBag.Local["finance"].Value</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-manager-tab" data-toggle="pill" href="#custom-tabs-four-manager" role="tab" aria-controls="custom-tabs-four-manager" aria-selected="false">@ViewBag.Local["board_management"].Value</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-featuredproduct-tab" data-toggle="pill" href="#custom-tabs-four-featuredproduct" role="tab" aria-controls="custom-tabs-four-featuredproduct" aria-selected="false">@ViewBag.Local["featured_product"].Value</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-notes-tab" data-toggle="pill" href="#custom-tabs-four-notes" role="tab" aria-controls="custom-tabs-four-notes" aria-selected="false">@ViewBag.Local["notes"].Value</a>
                </li>
              </ul>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                  <div class="tab-pane fade show active" id="custom-tabs-four-masterdata" role="tabpanel" aria-labelledby="custom-tabs-four-masterdata-tab"> @Html.Partial("TabDataUtama") </div>
                  <div class="tab-pane fade" id="custom-tabs-four-legal" role="tabpanel" aria-labelledby="custom-tabs-four-legal-tab"> @Html.Partial("TabLegal") </div>
                  <div class="tab-pane fade" id="custom-tabs-four-tax" role="tabpanel" aria-labelledby="custom-tabs-four-tax-tab"> @Html.Partial("TabPajak") </div>
                  <div class="tab-pane fade" id="custom-tabs-four-finance" role="tabpanel" aria-labelledby="custom-tabs-four-finance-tab"> @Html.Partial("TabKeuangan") </div>
                  <div class="tab-pane fade" id="custom-tabs-four-manager" role="tabpanel" aria-labelledby="custom-tabs-four-manager-tab"> @Html.Partial("TabPengurus") </div>
                  <div class="tab-pane fade" id="custom-tabs-four-featuredproduct" role="tabpanel" aria-labelledby="custom-tabs-four-featuredproduct-tab"> @Html.Partial("TabProdukUnggulan") </div>
                  <div class="tab-pane fade" id="custom-tabs-four-notes" role="tabpanel" aria-labelledby="custom-tabs-four-notes-tab"> @Html.Partial("TabCatatan") </div>
                </div>
              </div>
              <div class="text-end mr-2">
                <a href="#" class="btn btn-primary">@ViewBag.Local["btnSave"].Value</a>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>