﻿<div class="row">
  <div class="col-md-4">
    <div class="form-group form-floating">
      <input type="text" class="form-control" id="cat_CompanyProfile" placeholder=" ">
      <label for="cat_CompanyProfile">@ViewBag.Local["company_profile"].Value</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group form-floating">
      <input type="text" class="form-control" id="cat_Katalog" placeholder=" ">
      <label for="cat_Katalog">@ViewBag.Local["catalog"].Value</label>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group form-floating">
      <input type="email" class="form-control" id="cat_Catatan" placeholder=" ">
      <label for="cat_Catatan">@ViewBag.Local["notes"].Value</label>
    </div>
  </div>
</div>