﻿<!--INFORMASI AKUN-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["account_information"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_Website" placeholder=" ">
          <label for="du_Website">@ViewBag.Local["website"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_CompanyName" placeholder=" ">
          <label for="du_CompanyName">@ViewBag.Local["company_name"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_Category" placeholder=" ">
          <label for="du_VendorType">@ViewBag.Local["company_category"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_BusinessEntity" placeholder=" ">
          <label for="du_BusinessEntity">@ViewBag.Local["business_entity"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!--ALAMAT PERUSAHAAN-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["company_information"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_CompanyAddress" placeholder=" ">
          <label for="du_CompanyAddress">@ViewBag.Local["company_address"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_Country" placeholder=" ">
          <label for="du_Country">@ViewBag.Local["country"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_Province" placeholder=" ">
          <label for="du_Province">@ViewBag.Local["province"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_City" placeholder=" ">
          <label for="du_City">@ViewBag.Local["city"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_District" placeholder=" ">
          <label for="du_District">@ViewBag.Local["district"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_ZipCode" placeholder=" ">
          <label for="du_ZipCode">@ViewBag.Local["zip_code"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_PhoneNo" placeholder=" ">
          <label for="du_PhoneNo">@ViewBag.Local["phone_number"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!--KONTAK SALES-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["sales_contact"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_SalesName" placeholder=" ">
          <label for="du_SalesName">@ViewBag.Local["sales_name"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_SalesEmail" placeholder=" ">
          <label for="du_SalesEmail">@ViewBag.Local["sales_email"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_SalesPhoneNo" placeholder=" ">
          <label for="du_SalesPhoneNo">@ViewBag.Local["phone_number"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="du_SalesCategory" placeholder=" ">
          <label for="du_SalesCategori">@ViewBag.Local["category"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>