﻿<!--MODAL-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["capital"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_Capital_Currency1" placeholder=" ">
          <label for="keu_Capital_Currency1">@ViewBag.Local["currency"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_Venture_Capital" placeholder=" ">
          <label for="keu_Venture_Capital">@ViewBag.Local["venture_capital_value"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_Capital_Currency2" placeholder=" ">
          <label for="keu_Capital_Currency2">@ViewBag.Local["currency"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_Paid_Capital" placeholder=" ">
          <label for="keu_Paid_Capital">@ViewBag.Local["value_paid_in_capital"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_Capital_Address" placeholder=" ">
          <label for="keu_Capital_Address">@ViewBag.Local["address"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!--INFORMASI BANK-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["bank_information"].Value</h3>
  </div> @* <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_bi_BankName" placeholder=" ">
          <label for="keu_bi_BankName">@ViewBag.Local["bank_name"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_bi_BranchName" placeholder=" ">
          <label for="keu_bi_BranchName">@ViewBag.Local["bank_branch_name"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_bi_AccNo" placeholder=" ">
          <label for="keu_bi_AccNo">@ViewBag.Local["account_number"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_bi_AccHoldName" placeholder=" ">
          <label for="keu_bi_AccHoldName">@ViewBag.Local["account_holder_name"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ib_Currency" placeholder=" ">
          <label for="keu_ib_Currency">@ViewBag.Local["currency"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ib_Country" placeholder=" ">
          <label for="keu_ib_Country">@ViewBag.Local["country"].Value</label>
        </div>
      </div>
    </div>
  </div> *@ <div class="card-body">
    <table id="grid_Finance" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>@ViewBag.Local["bank_name"].Value</th>
          <th>@ViewBag.Local["branch_name"].Value</th>
          <th>@ViewBag.Local["account_number"].Value</th>
          <th>@ViewBag.Local["account_holder_name"].Value</th>
          <th>@ViewBag.Local["currency"].Value</th>
          <th>@ViewBag.Local["country"].Value</th>
          <th>@ViewBag.Local["action"].Value</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        <tr>
          <th>
            <input id="foot_keu_BankName" type="text" class="form-control form-control-sm" />
          </th>
          <th>
            <input id="foot_keu_BranchName" type="text" class="form-control form-control-sm" />
          </th>
          <th>
            <input id="foot_keu_AccNo" type="text" class="form-control form-control-sm" />
          </th>
          <th>
            <input id="foot_keu_AccHoldName" type="text" class="form-control form-control-sm" />
          </th>
          <th>
            <select id="foot_keu_Currency" class="form-control form-control-sm"></select>
          </th>
          <th>
            <select id="foot_keu_Country" class="form-control form-control-sm"></select>
          </th>
          <th>
            <button id="foot_keu_Add" type="button" class="btn btn-sm btn-default">
              <i class="fas fa-plus"></i>
            </button>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--LAPORAN TAHUNAN-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["annual_report"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_year" placeholder=" ">
          <label for="keu_ar_year">@ViewBag.Local["year"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_Currency" placeholder=" ">
          <label for="keu_ar_Currency">@ViewBag.Local["currency"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_TotalAssets" placeholder=" ">
          <label for="keu_ar_TotalAssets">@ViewBag.Local["total_assets"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_Debt" placeholder=" ">
          <label for="keu_ar_Debt">@ViewBag.Local["debt"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_TotalExpense" placeholder=" ">
          <label for="keu_ar_TotalExpense">@ViewBag.Local["total_expense"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_RevSales" placeholder=" ">
          <label for="keu_ar_RevSales">@ViewBag.Local["revenue_sales"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_ProfLoss" placeholder=" ">
          <label for="keu_ar_ProfLoss">@ViewBag.Local["net_profit_loss"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_Audit" placeholder=" ">
          <label for="keu_ar_Audit">@ViewBag.Local["audit"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_AuditName" placeholder=" ">
          <label for="keu_ar_AuditName">@ViewBag.Local["auditor_name"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="keu_ar_AuditAddress" placeholder=" ">
          <label for="keu_ar_AuditAddress">@ViewBag.Local["auditor_address"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="date" class="form-control" id="keu_ar_ReportDate" placeholder=" ">
          <label for="keu_ar_ReportDate">@ViewBag.Local["report_date"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="keu_ar_Attachment" placeholder=" ">
          <label for="keu_ar_Attachment">@ViewBag.Local["attachment"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>