﻿<!--AKTA PERUSAHAAN-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["company_deed"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_DeedType" placeholder=" ">
          <label for="leg_DeedType">@ViewBag.Local["deed_type"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_DeedNo" placeholder=" ">
          <label for="leg_DeedNo">@ViewBag.Local["deed_number"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="date" class="form-control" id="leg_CreateDate" placeholder=" ">
          <label for="leg_CreateDate">@ViewBag.Local["created_date"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_NamaNotaris" placeholder=" ">
          <label for="leg_NotaryName">@ViewBag.Local["notary_name"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_NotaryAddress" placeholder=" ">
          <label for="leg_NotaryAddress">@ViewBag.Local["notary_address"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="leg_DeedAttach" placeholder=" ">
          <label for="leg_DeedAttach">@ViewBag.Local["deed_attachment"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!--SK KEMKUMHAM-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">SK KEMENKUMHAM</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_sk_No" placeholder=" ">
          <label for="leg_sk_No">@ViewBag.Local["sk_number"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_sk_CreateDate" placeholder=" ">
          <label for="leg_sk_CreateDate">@ViewBag.Local["created_date"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="leg_sk_Attach" placeholder=" ">
          <label for="leg_sk_Attach">@ViewBag.Local["sk_attachment"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!--IJIN / LISENSI-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["license"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_lcs_Type" placeholder=" ">
          <label for="leg_lcs_Type">@ViewBag.Local["license_type"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_lcs_Publisher" placeholder=" ">
          <label for="leg_lcs_Publisher">@ViewBag.Local["license_publisher"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_lcs_No" placeholder=" ">
          <label for="leg_lcs_No">@ViewBag.Local["license_number"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="date" class="form-control" id="leg_lcs_CreateDate" placeholder=" ">
          <label for="leg_lcs_CreateDate">@ViewBag.Local["created_date"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="date" class="form-control" id="leg_lcs_ExpDate" placeholder=" ">
          <label for="leg_lcs_ExpDate">@ViewBag.Local["expired_date"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="leg_lcs_Attach" placeholder=" ">
          <label for="leg_lcs_Attach">@ViewBag.Local["license_attachment"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!--SERTIFIKAT-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["certificate"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_cert_Type" placeholder=" ">
          <label for="leg_cert_Type">@ViewBag.Local["certificate_type"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_cert_Name" placeholder=" ">
          <label for="leg_cert_Name">@ViewBag.Local["certificate_name"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_cert_Publisher" placeholder=" ">
          <label for="leg_cert_Publisher">@ViewBag.Local["certificate_publisher"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="leg_cert_No" placeholder=" ">
          <label for="leg_cert_No">@ViewBag.Local["certificate_number"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="date" class="form-control" id="leg_cert_CreateDate" placeholder=" ">
          <label for="leg_cert_CreateDate">@ViewBag.Local["created_date"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="date" class="form-control" id="leg_cert_ExpDate" placeholder=" ">
          <label for="leg_cert_ExpDate">@ViewBag.Local["expired_date"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="leg_cert_Attach" placeholder=" ">
          <label for="leg_cert_Attach">@ViewBag.Local["certificate_attachment"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>