﻿<!--Klasifikasi Bidang Usaha-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["business_field_classification"].Value (@ViewBag.Local["goods"].Value / @ViewBag.Local["services"].Value)</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bfc_ProdGroup" placeholder=" ">
          <label for="bfc_ProdGroup">@ViewBag.Local["product_group"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bfc_ProdName" placeholder=" ">
          <label for="bfc_ProdName">@ViewBag.Local["product_name"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bfc_ProdBrand" placeholder=" ">
          <label for="bfc_ProdBrand">@ViewBag.Local["product_brand"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bfc_ProdSource" placeholder=" ">
          <label for="bfc_ProdSource">@ViewBag.Local["source"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Pelanggan Terbesar-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["biggest_customer"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bfc_Cust1" placeholder=" ">
          <label for="bfc_Cust1">@ViewBag.Local["customer"].Value 01</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bfc_Cust2" placeholder=" ">
          <label for="bfc_Cust2">@ViewBag.Local["customer"].Value 02</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bfc_Cust3" placeholder=" ">
          <label for="bfc_Cust3">@ViewBag.Local["customer"].Value 03</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bfc_Cust4" placeholder=" ">
          <label for="bfc_Cust4">@ViewBag.Local["customer"].Value 04</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bfc_Cust5" placeholder=" ">
          <label for="bfc_Cust5">@ViewBag.Local["customer"].Value 05</label>
        </div>
      </div>
    </div>
  </div>
</div>