﻿<!--PENGURUS PERUSAHAAN-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["company_board_management"].Value</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bm_Position" placeholder=" ">
          <label for="bm_Position">@ViewBag.Local["position"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bm_FullName" placeholder=" ">
          <label for="bm_FullName">@ViewBag.Local["full_name"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="email" class="form-control" id="bm_Email" placeholder=" ">
          <label for="bm_Email">Email</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="bm_PhoneNo" placeholder=" ">
          <label for="bm_PhoneNo">@ViewBag.Local["phone_number"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>