﻿<!--NPWP / TAX ID-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">NPWP / TAX ID</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="tax_No" placeholder=" ">
          <label for="tax_No">@ViewBag.Local["company_tax_id_number"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="tax_CompanyName" placeholder=" ">
          <label for="tax_CompanyName">@ViewBag.Local["company_name_in_tax_id"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="tax_Attach" placeholder=" ">
          <label for="tax_Attach">@ViewBag.Local["tax_id_attachment"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="tax_Address" placeholder=" ">
          <label for="tax_Address">@ViewBag.Local["address"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!--PKP-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">PKP</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="tax_pkp_Doc" placeholder=" ">
          <label for="tax_pkp_Doc">@ViewBag.Local["pkp_document"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="tax_pkp_No" placeholder=" ">
          <label for="tax_pkp_No">@ViewBag.Local["pkp_number"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="date" class="form-control" id="tax_pkp_IssueDate" placeholder=" ">
          <label for="tax_pkp_IssueDate">@ViewBag.Local["pkp_issue_date"].Value</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="tax_pkp_Attach" placeholder=" ">
          <label for="tax_pkp_Attach">@ViewBag.Local["sppkp_attachment"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="tax_pkp_PP23Attach" placeholder=" ">
          <label for="tax_pkp_PP23Attach">@ViewBag.Local["pp23_202018_affidavit_attachment"].Value</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="tax_pkp_NonAttach" placeholder=" ">
          <label for="tax_pkp_NonAttach">@ViewBag.Local["non_pkp_affidavit_attachment"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>
<!--LAPORAN SPT TAHUNAN (MINIMAL H-1)-->
<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">@ViewBag.Local["spt_annual_report"].Value (@ViewBag.Local["d1_minimal"].Value)</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="text" class="form-control" id="tax_ar_Year" placeholder=" ">
          <label for="tax_ar_Year">@ViewBag.Local["year"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="date" class="form-control" id="tax_ar_ReportDate" placeholder=" ">
          <label for="tax_ar_ReportDate">@ViewBag.Local["report_date"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="tax_ar_SPTAttach" placeholder=" ">
          <label for="tax_ar_SPTAttach">@ViewBag.Local["sk_attachment"].Value</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-floating">
          <input type="file" class="form-control" id="tax_ar_EvidenceAttach" placeholder=" ">
          <label for="tax_ar_EvidenceAttach">@ViewBag.Local["report_evidence_attachment"].Value</label>
        </div>
      </div>
    </div>
  </div>
</div>