﻿@{
    ViewData["Title"] = @ViewBag.Local["menu.VM.VendorMaster"].Value;
}

<div id="main">
    @Html.Partial("Main")
</div>
<!-- Functions -->
<script>
$(function() {
    populateUserCategory();
    UIFunction();
    $("#table_verify").DataTable({
        "responsive": true,
        "lengthChange": true,
        "autoWidth": false,
        "paging": true,
        "info": true,
        order: [[1, 'asc']],
        //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        'columnDefs': [
            {
                "targets": [0, 5], // your case first column
                "className": "text-center",
                "orderable": false
            }
        ]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
});

function UIFunction() {
    $('#header').removeClass("header-transparent");
    $('#navlink-home').removeClass("active");
    $('#navlink-vendormanagement').addClass("active");
    $('#navlink-pakta').attr("hidden", "hidden");
    $('#navlink-contactus').attr("hidden", "hidden");
    $('#footer').attr("hidden", "hidden");

    getAllNewVendor();
};

function getAllNewVendor() {
    $.ajax({
        url: "/VerifyNewVendor/GetNewVendorRegistration",
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            listAllNewVendor(data);
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}

function listAllNewVendor(value) {
    var table = $('#table_verify').DataTable();
    table.clear().draw();
    if (value.length > 0) {
        for (i = 0; i < value.length; i++) {
            table.row.add([
                '<input onchange="oc_Vendor(this)" type="checkbox" id="' + value[i].vendID + '">',
                value[i].vendID,
                value[i].companyName,
                value[i].email,
                value[i].picName,
                '<select id="CompanyCategory_'+value[i].vendID+'" name="companyCategory" onchange="oc_CompanyCategory(this)" class="form-control form-control-sm singleUserCategory" id="newVendor_companyCategory">'
                +'<option selected hidden value="'+value[i].category+'">'+value[i].category+'</option>'
                +optUserCategory
                +'</select>'
            ]).draw();

            if (value[i].statusCheckBox == true) {
                $("#" + value[i].vendID).prop("checked", true);
            } else {
                $("#" + value[i].vendID).prop("checked", false);
            }
        }
    }
}

var optUserCategory = "";
function populateUserCategory() {
        //$(".singleUserCategory")
        //.find('option')
        //.remove()
        //.end()
        //.append('<option hidden value=""></option>')
        //.val('');
optUserCategory = "";
                $.ajax({
        url: "/ComGen/GetComGenByVarLikeEnd",
        data: {
            vari : "USER_CATEGORY_"
        },
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            debugger;
            $.each(data, function(i, data) {
                var div_data = '<option value="' + data.valueDB + '">' + data.valueDB + '</option>';
                optUserCategory = optUserCategory + div_data;
                //$(div_data).appendTo('.singleUserCategory');
            });
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}

function SendEmailVerification(){
    $.ajax({
        url: "/VerifyNewVendor/SendVerificationEmail",
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            if (data.status != "Success") {
                toastr.error(data.message);
            }
            else{
                toastr.success("Berhasil yeay");
                location.reload();
                //show modal berhasil mengirim (di figma)
            }
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}

function oc_CompanyCategory(dt){
    var vendID = dt.id.split('_')[1];
    var selVal = dt.value;

    $.ajax({
        url: "/VerifyNewVendor/ChangeVendorCategory",
        data: {
            vendID : vendID,
            cat : selVal
        },
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            listAllNewVendor(data);
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}
function oc_Vendor(dt) {
    var vendID = dt.id;
    var value = "";
    if ($(dt).is(':checked')) {
        value = "on";
    } else {
        value = "off";
    }
    $.ajax({
        url: "/VerifyNewVendor/GetSelectedCheckBox",
        data: {
            vendID: dt.id,
            status: value
        },
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            listAllNewVendor(data);
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}
</script>