﻿<br />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><b>@ViewBag.Local["verify_new_vendor"]</b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="table_verify" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@ViewBag.Local["checkbox"]</th>
                                    <th>@ViewBag.Local["vendor_id"].Value</th>
                                    <th>@ViewBag.Local["vendor_name"].Value</th>
                                    <th>@ViewBag.Local["pic_name"].Value</th>
                                    <th>@ViewBag.Local["pic_role"].Value</th>
                                    <th>Email</th>
                                    <th>@ViewBag.Local["company_category"].Value</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="reject" id="btnReject" class="btn btn-primary float-right">@ViewBag.Local["btnReject"].Value</button>
                        <button type="submit" id="btnSendVerification" onclick="SendEmailVerification()" class="btn btn-primary float-right">@ViewBag.Local["btnSendVerification"].Value</button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
