﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<form enctype="multipart/form-data" method="post" name="fileinfo">
  <input id="Email" type="email" autocomplete="on" autofocus name="userid" placeholder="email" required /><br />
  <input id="File" type="file" name="file" required />
  <input type="submit" value="Stash the file!" />
</form>

<script>

        $("form").submit(function (e) {
            alert("masuk");
        e.preventDefault();

        var formAction = $(this).attr("action");
        var fdata = new FormData();

        var fileInput = $('#File')[0];
        var file = fileInput.files[0];
        fdata.append("File", file);

        // You can update the jquery selector to use a css class if you want
        //$("input[type='text'").each(function (x, y) {
        //    fdata.append($(y).attr("name"), $(y).val());
        //});

            $.ajax({
        url: "/updownload/UploadTest",
        data:{
            file : fdata,
            tes : $('#email').val()
        },
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            listAllNewVendor(data);
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });

        //$.ajax({
        //    type: 'post',
        //    url: formAction ,
        //    data: fdata,
        //    processData: false,
        //    contentType: false
        //}).done(function(result) {
        //    // do something with the result now
        //    console.log(result);
        //});

    });

    //function sendFile() {
    //    try {
    //        // Checking whether FormData is available in browser
    //        if (window.FormData !== undefined) {
    //            var files = $("#file").get(0).files;

    //            // Create FormData object
    //            var fileData = new FormData();
    //            if (files.length == 0) {
    //                throw new Error('No files uploaded');
    //            }

    //            //var re = /(\.jpg|\.jpeg|\.png)$/i;
    //            //for (var i = 0; i < files.length; i++) {
    //            //    if (!re.exec(files[i].name)) {
    //            //        throw new Error("File extension not supported!");
    //            //    }
    //            //}
    //            // Looping over all files and add it to FormData object
    //            for (var i = 0; i < files.length; i++) {
    //                fileData.append(files[i].name, files[i]);
    //            }
    //            $.ajax({
    //                url: '/updownload/UploadFiles',
    //                type: "POST",
    //                contentType: false, // Not to set any content header
    //                processData: false, // Not to process data
    //                data: fileData,
    //                success: function (data) {
    //                    if (data.response != 900) {
    //                        var obj = data.RecognitionResult.Lines;
    //                        if (obj.length > 0) {
    //                            $('#ddResultOFF')
    //                                .find('option')
    //                                .remove()
    //                                .end()
    //                                .append('<option value="">Here is the results</option>')
    //                                .val('')
    //                                ;
    //                            for (var i = 0; i < obj.length; i++) {
    //                                $('#ddResultOFF').append(
    //                                    $('<option value="' + obj[i].Text + '">' + obj[i].Text + '</option>')
    //                                );
    //                            }
    //                        } else {
    //                            $('#ddResultOFF')
    //                                .find('option')
    //                                .remove()
    //                                .end()
    //                                .append('<option value="">No Result</option>')
    //                                .val('')
    //                                ;
    //                        }
    //                    }
    //                },
    //                error: function (err) {
    //                    $('#ddResultOFF')
    //                        .find('option')
    //                        .remove()
    //                        .end()
    //                        .append('<option value="">No Result</option>')
    //                        .val('')
    //                        ;
    //                }
    //            });
    //        } else {
    //            $('#ddResultOFF')
    //                .find('option')
    //                .remove()
    //                .end()
    //                .append('<option value="">No Result</option>')
    //                .val('')
    //                ;
    //        }
    //    } catch (e) {
    //        $('#ddResultOFF')
    //            .find('option')
    //            .remove()
    //            .end()
    //            .append('<option value="">Failed</option>')
    //            .val('')
    //            ;
    //    }
    //};


</script>