﻿<main id="main">    
    <!-- End About Section -->
    @if (ViewBag.Login == null || ViewBag.Login == false)
    {
        <!-- ======= REGISTER / LOGIN Section ======= -->
        <section id="regislogin" data-aos="fade-up">
            <div class="container py-5 h-100">
                <div class="row card-regist">
                    <div class="col-lg-7">
                        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                            <div class="card-body p-0">
                                <div class="p-5">
                                    <div class="section-title" data-aos="fade-up">
                                        <h2>@ViewBag.Local["are_you_new"].Value</h2>
                                        <p>@ViewBag.Local["register_here"].Value</p>
                                    </div>

                                    <div class="mb-4">
                                        <div class="form-floating">
                                            <input type="email" class="form-control ru1" id="ru_Email" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                            <label for="floatingInput" style="color:#5c5c5c;">Email</label>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <div class="form-floating">
                                            <input type="text" class="form-control ru1" id="ru_CompanyName" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                            <label for="ru_CompanyName" style="color:#5c5c5c;">@ViewBag.Local["company_name"].Value</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-floating">
                                            <input type="text" class="form-control ru1" id="ru_PICName" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                            <label for="floatingInput" style="color:#5c5c5c;">@ViewBag.Local["pic_name"].Value</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-floating">
                                            <input type="text" class="form-control ru1" id="ru_PICRole" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                            <label for="floatingInput" style="color:#5c5c5c;">@ViewBag.Local["pic_role"].Value</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-floating">
                                            <input type="text" class="form-control ru1" id="ru_PICNumber" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                            <label for="floatingInput" style="color:#5c5c5c;">@ViewBag.Local["pic_number"].Value</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radioCompanyType" id="inlineradio1" value="Local">
                                            <label class="form-check-label" for="inlineradio1">@ViewBag.Local["local_company"].Value</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radioCompanyType" id="inlineradio2" value="Foreign">
                                            <label class="form-check-label" for="inlineradio2">@ViewBag.Local["foreign_company"].Value</label>
                                        </div>
                                    </div>
                                    <button data-mdb-ripple-color="dark" style="color: white; background-color: rgba(2, 5, 161, 0.91); border-radius:30px;"
                                        type="button" class="btn btn-default" onclick="adaptModal()" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <h5 style="padding-top:4px;">@ViewBag.Local["btnRegister"].Value</h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End REGISTER / LOGIN Section -->
    }
</main>