﻿<div class="table-responsive">
    <table id="table_localvendor" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@ViewBag.Local["tablehead.VendID"].Value</th>
                <th>@ViewBag.Local["tablehead.VendorName"].Value</th>
                <th>@ViewBag.Local["tablehead.PICName"].Value</th>
                <th>Email</th>
            </tr>
        </thead>
    </table>
</div>
