﻿@{
    ViewData["Title"] = "Index";
}

<div id="main">
    @Html.Partial("Main")
</div>

@*<div id="detailPrinciples" hidden>
    @Html.Partial("detailPrinciples")
</div>*@

@*<div id="detailDistributor" hidden>
    @Html.Partial("detailDistributor")
</div>*@

@*<div id="detailSystemIntegrator" hidden>
    @Html.Partial("detailSystemIntegrator")
</div>*@

@*<div id="detailLocalVendor" hidden>
    @Html.Partial("detailLocalVendor")
</div>*@

<!-- Functions -->
<script>

    $(function() {
        UIFunction();
        populatePrinciples();
        populateDistributor();
        populateSystemIntegrator();
        populateLocalVendor();
    });

    function UIFunction() {
        $('#header').removeClass("header-transparent");
        $('#navlink-home').removeClass("active");
        $('#navlink-vendormanagement').addClass("active");
        $('#navlink-pakta').attr("hidden", "hidden");
        $('#navlink-contactus').attr("hidden", "hidden");
        $('#footer').attr("hidden", "hidden");
    };

    function showDetailPrinciples() {
        document.getElementById("main").hidden = true;
        document.getElementById("detailPrinciples").hidden = false;
        populatePrinciples();
    };

    function showDetailDistributor() {
        document.getElementById("main").hidden = true;
        document.getElementById("detailDistributor").hidden = false;
        populateDistributor();
    };

    function showDetailSystemIntegrator() {
        document.getElementById("main").hidden = true;
        document.getElementById("detailSystemIntegrator").hidden = false;
        populateSystemIntegrator();
    };

    function showDetailLocalVendor() {
        document.getElementById("main").hidden = true;
        document.getElementById("detailLocalVendor").hidden = false;
        populateLocalVendor();
    };

    function populatePrinciples() {
        $.ajax({
            url: "/VendorMaster/GetAllPrinciples",
            datatype: "json",
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function(data) {
                listAllPrinciples(data);
            },
            fail: function(xhr, textStatus, errorthrown) {
                toastr.error('Failed to execute.');
            }
        });
    }

    function listAllPrinciples(value) {
        var table = $('#table_principles').DataTable();
        table.clear().draw();
        if (value.length > 0) {
            for (i = 0; i < value.length; i++) {
                table.row.add([
                    value[i].vendID,
                    value[i].companyName,
                    value[i].picName,
                    value[i].email
                ]).draw();
            }
        }
    }

    function populateDistributor() {
        $.ajax({
            url: "/VendorMaster/GetAllDistributor",
            datatype: "json",
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function(data) {
                listAllDistributor(data);
            },
            fail: function(xhr, textStatus, errorthrown) {
                toastr.error('Failed to execute.');
            }
        });
    }

    function listAllDistributor(value) {
        var table = $('#table_distributor').DataTable();
        table.clear().draw();
        if (value.length > 0) {
            for (i = 0; i < value.length; i++) {
                table.row.add([
                    value[i].vendID,
                    value[i].companyName,
                    value[i].picName,
                    value[i].email
                ]).draw();
            }
        }
    }

    function populateSystemIntegrator() {
        $.ajax({
            url: "/VendorMaster/GetAllSystemIntegrator",
            datatype: "json",
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function(data) {
                listAllSystemIntegrator(data);
            },
            fail: function(xhr, textStatus, errorthrown) {
                toastr.error('Failed to execute.');
            }
        });
    }

    function listAllSystemIntegrator(value) {
        var table = $('#table_systemintegrator').DataTable();
        table.clear().draw();
        if (value.length > 0) {
            for (i = 0; i < value.length; i++) {
                table.row.add([
                    value[i].vendID,
                    value[i].companyName,
                    value[i].picName,
                    value[i].email
                ]).draw();
            }
        }
    }

    function populateLocalVendor() {
        $.ajax({
            url: "/VendorMaster/GetAllLocalVendor",
            datatype: "json",
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function(data) {
                listAllLocalVendor(data);
            },
            fail: function(xhr, textStatus, errorthrown) {
                toastr.error('Failed to execute.');
            }
        });
    }

    function listAllLocalVendor(value) {
        var table = $('#table_localvendor').DataTable();
        table.clear().draw();
        if (value.length > 0) {
            for (i = 0; i < value.length; i++) {
                table.row.add([
                    value[i].vendID,
                    value[i].companyName,
                    value[i].picName,
                    value[i].email
                ]).draw();
            }
        }
    }

</script>