﻿<br />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="row mb-4">
                            <h3 class="card-title"><b>@ViewBag.Local["vendor_master"]</b></h3> 
                        </div>
                        @if(ViewBag.Category=="Admin")
                        {
                        <div class="row">
                            <div class="col col-lg-7">
                                <div id="search-panel" class="container">
                                    <div class="search-body">
                                        <div class="container">
                                            <form style="padding: 20px 20px; background-color: #f2f2f2;">
                                                <div class="form-group mb-2">
                                                    <div class="row mb-2 justify-content-beetwen">
                                                        <div class="col col-lg-5">
                                                            <label for="ru_VendorCategory" style="color:#5c5c5c;">@ViewBag.Local["vendor_category"].Value</label>
                                                        </div>
                                                        <div class="col col-lg-7">
                                                            <select class="form-select select ru2" id="ru_VendorCategory" onchange="GetAllProvinceByCountryID(this.value)"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <div class="row mb-2 justify-content-beetwen">
                                                        <div class="col col-lg-5">
                                                            <label for="ru_BusinessEntity" style="color:#5c5c5c;">@ViewBag.Local["business_entity"].Value</label>
                                                        </div>
                                                        <div class="col col-lg-7">
                                                            <select class="form-select select ru2" id="ru_BusinessEntity" onchange="GetAllProvinceByCountryID(this.value)"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <div class="row mb-2 justify-content-beetwen">
                                                        <div class="col col-lg-5">
                                                            <label for="ru_ProductBrand" style="color:#5c5c5c;">@ViewBag.Local["product_brand"].Value</label>
                                                        </div>
                                                        <div class="col col-lg-7">
                                                            <select class="form-select select ru2" id="ru_ProductBrand" onchange="GetAllProvinceByCountryID(this.value)"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <div class="row mb-2 justify-content-beetwen">
                                                        <div class="col col-lg-5">
                                                            <label for="ru_LevelPartnership" style="color:#5c5c5c;">@ViewBag.Local["level_partnership"].Value</label>
                                                        </div>
                                                        <div class="col col-lg-7">
                                                            <select class="form-select select ru2" id="ru_LevelPartnership" onchange="GetAllProvinceByCountryID(this.value)"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="search-footer">
                                        <button type="button" class="btn btn-primary">@ViewBag.Local["search"].Value</button>
                                        <button type="button" class="btn btn-primary">@ViewBag.Local["export_data"].Value</button>
                                        <button type="button" class="btn btn-primary">@ViewBag.Local["upload_data"].Value</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="table_verify" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@ViewBag.Local["no"]</th>
                                    <th>@ViewBag.Local["vendor_id"].Value</th>
                                    <th>@ViewBag.Local["vendor_name"].Value</th>
                                    <th>@ViewBag.Local["pic_name"].Value</th>
                                    <th>@ViewBag.Local["pic_role"].Value</th>
                                    <th>@ViewBag.Local["completion_data"].Value</th>
                                    <th>@ViewBag.Local["vendor_score"].Value</th>
                                    <th>@ViewBag.Local["action"].Value</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
