﻿@{
    ViewData["Title"] = "About";
}

@Html.Partial("Modals")
<div id="main">
    @Html.Partial("Main")
</div>

<!-- Functions -->
<script>
$(function() {
    reset();
    location.href = '#hero';
});

function reset() {
    $(".select")
        .find('option')
        .remove()
        .end()
        .append('<option hidden selected value=""></option>')
        .val('');
    $('.ru1').val("");
    $('.ru2').val("");
    $('.lg').val("");
}

$('#form_Login').on('submit', function(event) {
    event.preventDefault();

    $.ajax({
        url: '/Login/Login',
        datatype: 'json',
        type: 'post',
        data: {
            "Email": $('#lu_Email').val(),
            "Password": $('#lu_Password').val()
        },
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            if (data != "Success") {
                toastr.error(data);
            }
            else if (data == "Success") {
                window.location.href = "/";
            }
        },
        fail: function(xhr, textStatus, errorThrown) {
            alert('Failed.');
        }
    });
});

function adaptModal() {
    var kosong = 0;
    $('.ru1').each(function() {
        if ($(this).val() == "" || $(this).val() == null) {
            $(this).addClass("is-invalid");
            kosong = 1;
        }
    });

    var blmPilihTipe = 0;
    if ($("input[name='radioCompanyType']:checked").val() == "Local") {
        $("#local").prop("hidden", false);
        $("#foreign").prop("hidden", true);
    } else if ($("input[name='radioCompanyType']:checked").val() == "Foreign") {
        $("#local").prop("hidden", true);
        $("#foreign").prop("hidden", false);
    } else {
        blmPilihTipe = 1;
        //    toastr.warning("Please choose your company type!");
    }
    if (kosong == 0 && blmPilihTipe == 0) {
        GetAllCountry();
    } else if (kosong == 1) {
        toastr.warning("Please fill all required data.");
    } else if (blmPilihTipe == 1) {
        toastr.warning("Please choose your company type.");
    }
}

function formatNpwp(value) {
    if (typeof value === 'string') {
        return value.replace(/(\d{2})(\d{3})(\d{3})(\d{1})(\d{3})(\d{3})/, '$1.$2.$3.$4-$5.$6');
    }
}

$('#btnSaveChanges').on('click', function() {
    var kosong = 0;
    var CompanyType = "";
    $('.ru2').each(function() {
        if ($(this).val() == "" || $(this).val() == null) {
            $(this).addClass("is-invalid");
            kosong = 1;
        }
    });
    if ($("input[name='radioCompanyType']:checked").val() == "Local") {
        CompanyType = "Local";
        if ($('#ru_NPWP').val() == "") {
            $('#ru_NPWP').addClass("is-invalid");
            kosong = 1;
        }
    } else if ($("input[name='radioCompanyType']:checked").val() == "Foreign") {
        CompanyType = "Foreign";
        if ($('#ru_TaxID').val() == "") {
            $('#ru_TaxID').addClass("is-invalid");
            kosong = 1;
        }
    }

var NPWP = formatNpwp($('#ru_NPWP').val());

    if (kosong == 0 && $('#agreeTermCondition').prop("checked") == true) {
        $.ajax({
            url: '/Home/Register',
            data: {
                "Email": $('#ru_Email').val(),
                "CompanyName": $('#ru_CompanyName').val(),
                "Website": $('#ru_Website').val(),
                "PICName": $('#ru_PICName').val(),
                "Category": null,
                "BentukUsaha": $('#ru_BadanUsaha').val(),
                "CompanyType": CompanyType,
                "NPWP": NPWP,
                "TaxID": $('#ru_TaxID').val(),
                "Address": $('#ru_CompanyAddress').val(),
                "Negara": $('#ru_Country').val(),
                "Provinsi": $('#ru_Province').val(),
                "Kota": $('#ru_City').val(),
                "Kec": $('#ru_District').val(),
                "ZipCode": $('#ru_ZipCode').val(),
                "NoTelp": $('#ru_PhoneNumber').val()
            },
            dataType: 'json',
            success: function(data) {
                if (data.status == "Success") {
                    reset();
                    toastr.success('Registered successfully.');
                }
                else {
                    toastr.warning(data.message);
                }
            },
            error: function(err) { }
        });

    } else if (kosong == 0 && $('#agreeTermCondition').prop("checked") == false) {
        toastr.warning("Please agree to the term and condition.");
        alert(CompanyType);
    } else if (kosong == 1) {
        toastr.warning("Please fill all required data.");
    }
});

function GetAllCountry() {
    $.ajax({
        url: '/Home/GetAllCountry',
        data: {
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "Success") {
                $(".singleCountry")
                    .find('option')
                    .remove()
                    .end()
                    .append('<option hidden selected value=""></option>')
                    .val('');

                $.each(data.value, function(i, data) {
                    var div_data = "<option value=" + data.id + ">" + data.name + "</option>";
                    $(div_data).appendTo('.singleCountry');
                });
                $('#modalDetailReg').modal('show');
            }
            else {
                toastr.warning(data.message);
            }
        },
        error: function(err) { }
    });
}
function GetAllProvinceByCountryID(countryID) {
    $.ajax({
        url: '/Home/GetAllStateByCountryID',
        data: {
            CountryID: countryID
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "Success") {
                $(".singleProvince")
                    .find('option')
                    .remove()
                    .end()
                    .append('<option hidden selected value=""></option>')
                    .val('');

                $.each(data.value, function(i, data) {
                    var div_data = "<option value=" + data.id + ">" + data.name + "</option>";
                    $(div_data).appendTo('.singleProvince');
                });
            }
            else {
                toastr.warning(data.message);
            }
        },
        error: function(err) { }
    });
}
function GetAllCityByProvinceID(provID) {
    removeIsInvalidOne("ru_Province");
    $.ajax({
        url: '/Home/GetAllCitiesByStateID',
        data: {
            StateID: provID
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "Success") {
                $(".singleCity")
                    .find('option')
                    .remove()
                    .end()
                    .append('<option hidden selected value=""></option>')
                    .val('');

                $.each(data.value, function(i, data) {
                    var div_data = "<option value=" + data.id + ">" + data.name + "</option>";
                    $(div_data).appendTo('.singleCity');
                });
            }
            else {
                toastr.warning(data.message);
            }
        },
        error: function(err) { }
    });
}

</script>
