﻿<main id="main">    
    <div id="about">
        <div class="container py-5 h-100 mt-5">
            <div class="row mb-4">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Local["about_vendor"]</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            You can Change Pace Styles, Checkout the <a href="https://adminlte.io/docs/3.1/" target="_blank" rel="noopener noreferrer">AdminLTE Official Docs</a> in Online.
                            <br>
                            Start creating your amazing application!
                        </div>

                        @* <div class="card-footer" style="display: block;">
                        </div> *@

                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Local["integrity_pact"]</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            You can Change Pace Styles, Checkout the <a href="https://adminlte.io/docs/3.1/" target="_blank" rel="noopener noreferrer">AdminLTE Official Docs</a> in Online.
                            <br>
                            Start creating your amazing application!
                        </div>

                        @* <div class="card-footer" style="display: block;">
                        </div> *@

                    </div>
                </div>
            </div>   
            <div class="row mb-4">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Local["user_guide"]</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            You can Change Pace Styles, Checkout the <a href="https://adminlte.io/docs/3.1/" target="_blank" rel="noopener noreferrer">AdminLTE Official Docs</a> in Online.
                            <br>
                            Start creating your amazing application!
                        </div>

                        @* <div class="card-footer" style="display: block;">
                        </div> *@

                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Local["faq"]</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            You can Change Pace Styles, Checkout the <a href="https://adminlte.io/docs/3.1/" target="_blank" rel="noopener noreferrer">AdminLTE Official Docs</a> in Online.
                            <br>
                            Start creating your amazing application!
                        </div>

                        @* <div class="card-footer" style="display: block;">
                        </div> *@

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>