﻿
@{
    ViewData["Title"] = @ViewBag.Local["PortalPajak"].Value;
}

@Html.Partial("Modals")
<div id="main">
    @Html.Partial("Main")
</div>

<!-- Functions -->
<script>
$(function() {
    UIFunction();
    reset();
});

function UIFunction() {
    $('#header').removeClass("header-transparent");
    $('#navlink-home').removeClass("active");
    $('#navlink-vendormanagement').addClass("active");
    $('#navlink-pakta').attr("hidden", "hidden");
    $('#navlink-contactus').attr("hidden", "hidden");
    $('#footer').attr("hidden", "hidden");
};

function reset() {
    $(".select")
        .find('option')
        .remove()
        .end()
        .append('<option hidden selected value=""></option>')
        .val('');
    $('.bp2').val("");
}

function getAllBukpot(){
    $.ajax({
        url: "/PortalPajak/GetAllBukpotbyVendID",
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            listAllNewVendor(data);
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}

function listAllNewVendor(value) {
    var table = $('#table_bukpot').DataTable();
    table.clear().draw();
    if (value.length > 0) {
        for (i = 0; i < value.length; i++) {
            table.row.add([
                '<input type="checkbox" id="newVendorCheckBox">',
                value[i].vendID,
                value[i].companyName,
                value[i].email,
                value[i].picName,
                '<select name="companyCategory" id="newVendor_companyCategory"><option value="Principles">Principles</option><option value="Distributor">Distributor</option><option value="System Integrator">System Integrator</option><option value="Local Vendor">Local Vendor</option></select>'
            ]).draw();
        }
    }
}

$('#btnAddBukpot').on("click", function() {
    reset();
    $('#modalAddBukpot').modal("show");
});

</script>