﻿<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="row card-header justify-content-between">
                        <div class="col col-8">
                            <div class="row mb-4">
                                <h3 class="card-title"><b>@ViewBag.Local["tax_portal"].Value<b></h3>
                            </div>
                            @if(ViewBag.Category=="Admin")
                            {
                            <div class="row">
                                <div class="col">
                                    <div id="search-panel" class="container">
                                        <div class="search-body">
                                            <div class="container">
                                                <form style="padding: 20px 20px; background-color: #f2f2f2;">
                                                    <div class="form-group mb-2">
                                                        <div class="row mb-2 justify-content-beetwen">
                                                            <div class="col col-lg-5">
                                                                <label for="ru_PeriodeDateStart" style="color:#5c5c5c;">@ViewBag.Local["periode_date_start"].Value</label>
                                                            </div>
                                                            <div class="col col-lg-7">
                                                                <input type="text" class="form-control" id="ru_PeriodeDateStart" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-2">
                                                        <div class="row mb-2 justify-content-beetwen">
                                                            <div class="col col-lg-5">
                                                                <label for="ru_PeriodeDateEnd" style="color:#5c5c5c;">@ViewBag.Local["periode_date_end"].Value</label>
                                                            </div>
                                                            <div class="col col-lg-7">
                                                                <input type="text" class="form-control" id="ru_PeriodeDateEnd" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="search-footer">
                                            <button type="button" class="btn btn-primary">@ViewBag.Local["search"].Value</button>
                                            <button type="button" class="btn btn-primary">@ViewBag.Local["export_data"].Value</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-primary" id="btnAddBukpot" onclick="$('#modalAddBukpot').modal('show');">@ViewBag.Local["add_wht"].Value</button>
                        </div>
                    </div>
                    
                    <div class="card-body table-responsive">
                        <table id="table_bukpot" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>@ViewBag.Local["no"].Value</th>
                                    <th>@ViewBag.Local["period"].Value</th>
                                    <th>@ViewBag.Local["vendor_name_npwp"].Value</th>
                                    <th>@ViewBag.Local["file_attachment"].Value</th>
                                    <th>@ViewBag.Local["upload_date"].Value</th>
                                    <th>@ViewBag.Local["download_count"].Value</th>
                                    <th>@ViewBag.Local["action"].Value</th>
                                </tr>
                            </thead>
                            <tbody>
                            @*NewVendorList*@
                            </tbody>
                        </table>
                    </div>               
                </div>
            </div>
        </div>
    </div>
  </main>
  <!-- End #main -->