﻿<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div class="text-left">
                    <h1>@ViewBag.Local["hello_welcome"].Value</h1>
                    <h1 class="mt-2"><span>@ViewBag.Local["intikom"].Value</span></h1>
                    <div data-aos="zoom-out">
                        <br />
                        <div class="text-lg-start">
                            <a asp-controller="Registration" asp-action="Index" class="btn-get-started">@ViewBag.Local["get_started"].Value</a>
                        </div>
                    </div>
                </div>
            </div> 
            @if (ViewBag.Login == null || ViewBag.Login == false)  {
                <div class="form-hero col-lg-5 order-1 order-lg-2 text-white" data-aos="zoom-out" data-aos-delay="300">
                    <form id="form_Login">
                        <div class="p-5">
                            <div class="section-title" data-aos="fade-up">
                                <h3>@ViewBag.Local["are_you_new"].Value</h3>
                                <p>@ViewBag.Local["login_here"].Value</p>
                            </div>

                            <div class="mb-4 pb-2">
                                <div class="form-outline form-white">
                                    <div class="form-floating">
                                        <input type="text" class="form-control lg" id="lu_Email" placeholder=" ">
                                        <label for="floatingInput" style="color:#5c5c5c;">Email</label>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4 pb-2">
                                <div class="form-outline form-white">
                                    <div class="form-floating">
                                        <input type="password" class="form-control lg" id="lu_Password" placeholder=" ">
                                        <label for="floatingInput" style="color:#5c5c5c;">@ViewBag.Local["pass"].Value</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-between">
                                <div class="col-7">
                                    <div class="row"><a href="#">I forgot my password</a></div>
                                    <div class="row"><a asp-controller="Registration" asp-action="Index">Register a new membership</a></div>
                                </div><br/>
                                <div class="col-4" style="align:right;">
                                    <button type="submit" class="btn btn-light btn-lg">
                                        <h5 style="padding-top:4px;">@ViewBag.Local["sign_in"].Value</h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }else{
                <div class="form-hero col-lg-5 order-1 order-lg-2 text-white" data-aos="zoom-out" data-aos-delay="300">
                    <div class="p-5">
                        <div class="section-title" data-aos="fade-up">
                            <div class="row justify-content-between">
                                <div class="col col-lg-9">
                                    <h3>@ViewBag.Local["information_news"].Value</h3>
                                </div>
                                @if (ViewBag.Category == "Admin"){
                                    <div class="col col-lg-2">
                                        <button class="btn btn-primary waves-effect waves-light" onclick="$('#modalAddInformation').modal('show');">
                                            <i class="fas fa-plus fa-sm"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                        <div id="news" class="carousel slide carousel-multi-item" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                                <li data-target="#multi-item-example" data-slide-to="1" class=""></li>
                            </ol>
                            
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).webp" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                            card's
                                            content.</p>
                                            <a class="btn btn-primary waves-effect waves-light">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).webp" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                                card's
                                                content.</p>
                                            <a class="btn btn-primary waves-effect waves-light">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#010351"></use>
        </g>
    </svg>

</section><!-- End Hero -->