﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Vendor Onboarding System</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- AdminLTE CSS -->
    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="plugins/pace-progress/themes/black/pace-theme-flat-top.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Toastr -->
    <link rel="stylesheet" href="plugins/toastr/toastr.min.css">

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">

    <script>
        function removeIsInvalidOne(dt) {
            //if ($('#' + dt.id).val() == "" || $('#' + dt.id).val() == null) {
            //    $('#' + dt.id).addClass("is-invalid");
            //}
            //else {
            $('#' + dt.id).removeClass("is-invalid");
            //}
        }
    </script>
    <style>
    label {
        font-weight: normal !important;
    }
</style>
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="fixed-top main-header navbar navbar-expand-md navbar-dark" style="background-color: #0d13a1; border-bottom:none;">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="intikom.png" alt="Intikom Logo" class="brand-image img-circle">
                    <span class="brand-text font-weight-light">Intikom</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Right navbar links -->
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                        <li class="nav-item">
                            <a id="navlink-home" class="nav-link" asp-controller="Home" asp-action="Index">@ViewBag.Local["home"].Value</a>
                        </li>
                        @if (ViewBag.Login == true){
                            @if (ViewBag.Category == "Admin"){
                                <li class="nav-item dropdown">
                                    <a id="navlink-vendormanagement" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">@ViewBag.Local["vendor_data"].Value</a>
                                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                        <li><a class="dropdown-item" asp-controller="VerifyNewVendor" asp-action="Index">@ViewBag.Local["verify_new_vendor"].Value</a></li>
                                        <li><a class="dropdown-item" asp-controller="VendorMaster" asp-action="Index">@ViewBag.Local["vendor_master"].Value</a></li>
                                    </ul>
                                </li>
                            }else{
                                <li class="nav-item"><a class="nav-link" asp-controller="CompanyProfiles" asp-action="Index">@ViewBag.Local["company_profile"].Value</a></li>
                            }
                            <li class="nav-item"><a class="nav-link" asp-controller="BillingPortal" asp-action="Index">@ViewBag.Local["billing_portal"].Value</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="PortalPajak" asp-action="Index">@ViewBag.Local["tax_portal"].Value</a></li>
                        }
                        <li class="nav-item">
                            <a id="navlink-about" class="nav-link" asp-controller="About" asp-action="Index">@ViewBag.Local["about"].Value</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="navlink-vendormanagement" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">@ViewBag.Local["language"].Value</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a class="dropdown-item" href="#">@ViewBag.Local["english"].Value</a></li>
                                <li><a class="dropdown-item" href="#">@ViewBag.Local["indonesia"].Value</a></li>
                            </ul>
                        </li>
                        @if (ViewBag.Login == true){
                            <li class="nav-item">
                                <a class="nav-link" href="/Logout">@ViewBag.Local["logout"].Value</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /.navbar -->

        <div class="content-wrapper" style="background-color:#FFF">
            @RenderBody()
        </div>
        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row" style="display:flex; flex-wrap:wrap; justify-content: center;">
                        <div class="col-lg-4 col-md-6" style="flex: 1 1 150px; margin: 5px">
                            <div class="footer-info">
                                <h3>Jakarta (Head Office)</h3>
                                <!--<p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p>-->
                                <p>
                                    Jl. Kuningan Barat 2 No. 11<br>
                                    Jakarta 12710, Indonesia<br>
                                    <strong>Phone</strong> : (021) 5297 1700<br>
                                    <strong>Fax</strong>      : (021) 5297 1617<br>
                                    <strong>Mail</strong>     : marcom@intikom.co.id
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" style="flex: 1 1 150px; margin: 5px">
                            <div class="footer-info">
                                <h3>Jakarta (Service Center)</h3>
                                <!--<p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p>-->
                                <p>
                                    Jl. Kuningan Barat 2 No. 11<br>
                                    Jakarta 12710, Indonesia<br>
                                    <strong>Phone</strong> : (021) 2930 6555<br>
                                    <strong>Fax</strong>      : (021) 5297 1620<br>
                                    <strong>Mail</strong>     : helpdesk@intikom.co.id
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" style="flex: 1 1 150px; margin: 5px">
                            <div class="footer-info">
                                <h3>Surabaya</h3>
                                <!--<p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p>-->
                                <p>
                                    Jl. Residen Sudirman No. 2D<br>
                                    Surabaya 60136, Indonesia<br>
                                    <strong>Phone</strong> : (031) 99444489<br>
                                    <strong>Fax</strong>      : (031) 99444675<br>
                                    <strong>Mail</strong>     : marcom@intikom.co.id
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" style="flex: 1 1 150px; margin: 5px">
                            <div class="footer-info">
                                <h3>Batam</h3>
                                <!--<p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p>-->
                                <p>
                                    Adhya Building Business Center Lt. 3
                                    Adhya Building Tower Komplek Permata Niaga,
                                    Bukit Indah Sukajadi, Jl. Jenderal Sudirman,
                                    Batam<br>
                                    <strong>Phone</strong> : (0778) 4888 - 000<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="social-links mt-3">
                <div style="text-align:center; font-size:30px;">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <div class="container">
                <div class="copyright">

                    &copy; 2021 <strong><span>PT Intikom Berlian Mustika</span></strong>. All rights reserved.
                    All other referenced product names and marks are trademarks of their respective owners. 
                </div>
                <div class="credits">
                    Designed by <a href="https://bootstrapmade.com/">Pranchis Ranting</a>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    @await RenderSectionAsync("Scripts", required: false)

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="plugins/jszip/jszip.min.js"></script>
    <script src="plugins/pdfmake/pdfmake.min.js"></script>
    <script src="plugins/pdfmake/vfs_fonts.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="plugins/pace-progress/pace.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <!-- Toastr -->
    <script src="plugins/toastr/toastr.min.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>


</html>
