﻿<!-- Modal Register-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalDetailReg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.Local["register_here"].Value</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form style="padding: 20px 20px; background-color: #f2f2f2;">
                        <h5 class="mb-4"><strong>@ViewBag.Local["account_information"].Value</strong></h5>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-sm ru2" id="ru_Website" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                            <label for="ru_Website" style="color:#5c5c5c;">@ViewBag.Local["site"].Value</label>
                        </div>
                        @*                            <div class="form-floating mb-4">
                        <input type="text" class="form-control ru2" id="ru_CompanyName" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                        <label for="ru_CompanyName">Company Name</label>
                        </div>*@
                        <div class="form-floating mb-4">
                            <select class="form-select ru2" id="ru_BadanUsaha" onchange="removeIsInvalidOne(this)">
                                <option selected hidden></option>
                                <option value="Konsultan">Konsultan</option>
                                <option value="Notaris">Notaris</option>
                                <option value="Profesional Service">Profesional Service</option>
                                <option value="PT">PT</option>
                                <option value="CV">CV</option>
                                <option value="Pribadi">Pribadi</option>
                                <option value="BUT">BUT</option>
                            </select>
                            <label for="ru_BadanUsaha" style="color:#5c5c5c;">@ViewBag.Local["business_entity"].Value</label>
                        </div>

                        <div class="form-floating mb-4" id="local" hidden>
                            <input type="text" class="form-control" id="ru_NPWP" placeholder=" " onkeyup="removeIsInvalidOne(this)" maxlength="15">
                            <label for="ru_NPWP" style="color:#5c5c5c;">NPWP</label>
                        </div>
                        <div class="form-floating mb-4" id="foreign" hidden>
                            <input type="text" class="form-control" id="ru_TaxID" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                            <label for="ru_TaxID">@ViewBag.Local["tax_id"].Value</label>
                        </div>

                        <h5 class="mb-4"><strong>@ViewBag.Local["company_address"].Value</strong></h5>
                        <div class="form-floating mb-4">
                            <textarea class="form-control ru2" placeholder=" " id="ru_CompanyAddress" style="height: 100px" onkeyup="removeIsInvalidOne(this)"></textarea>
                            <label for="ru_CompanyAddress" style="color:#5c5c5c;">@ViewBag.Local["address"].Value</label>
                        </div>
                        <div class="form-floating mb-4">
                            <select class="form-select singleCountry select ru2" id="ru_Country" onchange="GetAllProvinceByCountryID(this.value)">
                            </select>
                            <label for="ru_Country" style="color:#5c5c5c;">@ViewBag.Local["country"].Value</label>
                        </div>
                        <div class="form-floating mb-4">
                            <select class="form-select singleProvince select ru2" id="ru_Province" onchange="GetAllCityByProvinceID(this.value)">
                            </select>
                            <label for="ru_Province" style="color:#5c5c5c;">@ViewBag.Local["province"].Value</label>
                        </div>
                        <div class="form-floating mb-4">
                            <select class="form-select singleCity select ru2" id="ru_City" onchange="removeIsInvalidOne(this)">
                            </select>
                            <label for="ru_City" style="color:#5c5c5c;">@ViewBag.Local["city"].Value</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control ru2" id="ru_District" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                            <label for="ru_District" style="color:#5c5c5c;">@ViewBag.Local["district"].Value</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control ru2" id="ru_ZipCode" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                            <label for="ru_ZipCode" style="color:#5c5c5c;">@ViewBag.Local["zipcode"].Value</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control ru2" id="ru_PhoneNumber" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                            <label for="ru_PhoneNumber" style="color:#5c5c5c;">@ViewBag.Local["phoneno"].Value</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="agreeTermCondition" value="true">
                            <label id="checkbox-agreeTermCondition" class="form-check-label">
                                @ViewBag.Local["termcondstatement"].Value
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@ViewBag.Local["btnClose"].Value</button>
                <button type="button" id="btnSaveChanges" class="btn btn-primary">@ViewBag.Local["submit"].Value</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Billing Portal Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalAddBilling">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.Local["add_invoice"].Value</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form style="padding: 20px 20px; background-color: #f2f2f2;">
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control form-control-sm ab2" id="ab_NoInvoice" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                    <label for="ab_NoInvoice" style="color:#5c5c5c;">@ViewBag.Local["invoice_number"].Value</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control form-control-sm ab2" id="ab_BankName" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                    <label for="ab_BankName" style="color:#5c5c5c;">@ViewBag.Local["bank_name"].Value</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="date" class="form-control form-control-sm ab2" id="ab_InvoiceDate" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                    <label for="ab_InvoiceDate" style="color:#5c5c5c;">@ViewBag.Local["invoice_date"].Value</label>
                                </div>  
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="date" class="form-control form-control-sm ab2" id="ab_Cabang" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                    <label for="ab_Cabang" style="color:#5c5c5c;">@ViewBag.Local["bank_branch"].Value</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control form-control-sm ab2" id="ab_Amount" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                    <label for="ab_Amount" style="color:#5c5c5c;">@ViewBag.Local["invoice_amount"].Value</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control form-control-sm ab2" id="ab_NoRekening" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                    <label for="ab_NoRekening" style="color:#5c5c5c;">@ViewBag.Local["bank_account_number"].Value</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select singleCurrency select ab2" id="ab_Currency"></select>
                                    <label for="ab_Currency" style="color:#5c5c5c;">@ViewBag.Local["currency"].Value</label>
                                </div>
                            </div>
                            <div class="col">
                                <label for="ab_NoRekening" style="color:#5c5c5c;">@ViewBag.Local["add_invoice_attachment"].Value</label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control form-control-sm ab2" placeholder=" " id="ab_IntikomPONumber" onkeyup="removeIsInvalidOne(this)"></input>
                                    <label for="ab_IntikomPONumber" style="color:#5c5c5c;">@ViewBag.Local["itk_po_number"].Value</label>
                                </div>
                            </div>
                            <div class="col">
                                <input type="file" class="form-control form-control-lg ab2" id="ab_AttachmentFile" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control form-control-sm ab2" placeholder=" " id="ab_TaxInvoiceNumber" onkeyup="removeIsInvalidOne(this)"></input>
                                    <label for="ab_TaxInvoiceNumber" style="color:#5c5c5c;">@ViewBag.Local["tax_invoice_number"].Value</label>
                                </div>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control form-control-sm ab2" placeholder=" " id="ab_WithHoldingTaxAmount" onkeyup="removeIsInvalidOne(this)"></input>
                                    <label for="ab_WithHoldingTaxAmount" style="color:#5c5c5c;">@ViewBag.Local["withholding_tax_amount"].Value</label>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control form-control-sm ab2" placeholder=" " id="ab_WithHoldingTaxDesc" onkeyup="removeIsInvalidOne(this)"></input>
                                    <label for="ab_WithHoldingTaxDesc" style="color:#5c5c5c;">@ViewBag.Local["withholding_tax_description"].Value</label>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>                 
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="reset()">@ViewBag.Local["btnClose"].Value</button>
                <button type="button" id="btnAddBilling" class="btn btn-primary">@ViewBag.Local["submit"].Value</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Pajak Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalAddBukpot">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.Local["add_wht"].Value</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form style="padding: 20px 20px; background-color: #f2f2f2;">
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control form-control-sm bp2" id="bp_Period" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                    <label for="bp_Period" style="color:#5c5c5c;">@ViewBag.Local["period"].Value</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control form-control-sm bp2" id="bp_VendorID" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                    <label for="bp_VendorID" style="color:#5c5c5c;">@ViewBag.Local["vendor_name_npwp"].Value</label>
                                </div>
                            </div>
                            <div class="col">
                                <input type="file" class="form-control form-control-lg bp2" id="ab_AttachmentFileBukpot" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="reset()">@ViewBag.Local["btnClose"].Value</button>
                <button type="button" id="btnAddBilling" class="btn btn-primary">@ViewBag.Local["btnSave"].Value</button>
            </div>
        </div>
    </div>
</div>

<!--Add Information Modal-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="modalAddInformation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.Local["create_post"].Value</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form style="padding: 20px 20px; background-color: #f2f2f2;">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-sm ru2" id="ru_Title" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                            <label for="ru_Title" style="color:#5c5c5c;">@ViewBag.Local["title"].Value</label>
                        </div>
                        <div class="col mb-4">
                            <input type="file" class="form-control form-control-lg ab2" id="ab_AttachmentFile" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-sm ru2" id="ru_ShortDesc" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                            <label for="ru_ShortDesc" style="color:#5c5c5c;">@ViewBag.Local["short_desc"].Value</label>
                        </div>
                        <div class="form-floating mb-4">
                            <textarea type="text" class="form-control form-control-sm ru2" id="ru_TextContent" style="height: 200px;" placeholder=" " onkeyup="removeIsInvalidOne(this)"></textarea>
                            <label for="ru_TextContent" style="color:#5c5c5c;">@ViewBag.Local["text_content"].Value</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@ViewBag.Local["btnClose"].Value</button>
                <button type="button" id="btnSaveChanges" class="btn btn-primary">@ViewBag.Local["submit"].Value</button>
            </div>
        </div>
    </div>
</div>