﻿
@{
    ViewData["Title"] = "Index";
}

@Html.Partial("Modals")
<div id="main">
    @Html.Partial("Main")
</div>

<!-- Functions -->
<script>
$(function() {
    UIFunction();
    reset();
    populateBilling();
});

function UIFunction() {
    $('#navlink-home').removeClass("active");
    $('#navlink-vendormanagement').addClass("active");
    $('#navlink-pakta').attr("hidden", "hidden");
    $('#navlink-contactus').attr("hidden", "hidden");
    $('#footer').attr("hidden", "hidden");
};

function reset() {
    $(".select")
        .find('option')
        .remove()
        .end()
        .append('<option hidden selected value=""></option>')
        .val('');
    $('.ab2').val("");
}

function populateNamaBank() {
    $.ajax({
        url: '/BillingPortal/GetAllNamaBank',
        data: {
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "Success") {
                $(".singleBankName")
                    .find('option')
                    .remove()
                    .end()
                    .append('<option hidden selected value=""></option>')
                    .val('');

                $.each(data.value, function(i, data) {
                    var div_data = "<option value=" + data.nama + ">" + data.nama + "</option>";
                    $(div_data).appendTo('.singleBankName');
                });
            }
            else {
                toastr.warning(data.message);
            }
        },
        error: function(err) { }
    });
}

function populateCabang() {
    $.ajax({
        url: '/BillingPortal/GetAllCabangBank',
        data: {
            "NamaBank": $('#ab_BankName').val()
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "Success") {
                $("#ab_Cabang").prop("disabled", false);
                $(".singleCabang")
                    .find('option')
                    .remove()
                    .end()
                    .append('<option hidden selected value=""></option>')
                    .val('');

                $.each(data.value, function(i, data) {
                    var div_data = "<option value=" + data.cabangBank + ">" + data.cabangBank + "</option>";
                    $(div_data).appendTo('.singleCabang');
                });
            }
            else {
                toastr.warning(data.message);
            }
        },
        error: function(err) { }
    });
}

function populateNoRekening() {
    $.ajax({
        url: '/BillingPortal/GetAllNoRekening',
        data: {
            "NamaBank": $('#ab_BankName').val(),
            "CabangBank": $('#ab_Cabang').val()
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "Success") {
                $("#ab_NoRekening").prop("disabled", false);
                $(".singleAccountNumber")
                    .find('option')
                    .remove()
                    .end()
                    .append('<option hidden selected value=""></option>')
                    .val('');

                $.each(data.value, function(i, data) {
                    var div_data = "<option value=" + data.noRek + ">" + data.noRek + "</option>";
                    $(div_data).appendTo('.singleAccountNumber');
                });
            }
            else {
                toastr.warning(data.message);
            }
        },
        error: function(err) { }
    });
}

function populateBilling() {
    $.ajax({
        url: "/BillingPortal/GetAllBilling",
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            listAllBilling(data);
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}

function listAllBilling(value) {
    var table = $('#table_billingportal').DataTable();
    table.clear().draw();
    if (value.length > 0) {
        for (i = 0; i < value.length; i++) {
            var nomor = i + 1;
            table.row.add([
                nomor,
                value[i].ticketID,
                value[i].noInvoice,
                value[i].invoiceDate,
                value[i].amount,
                value[i].currency,
                value[i].poNumberITK,
                value[i].attachBilling,
                value[i].nama,
                value[i].noRek,
                value[i].cabangBank,
                value[i].status
            ]).draw();
            $('#ab_No').val(nomor+1);
        }
    }
}

function GetAllCurrency() {
    $.ajax({
        url: '/BillingPortal/GetAllCurrency',
        data: {
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "Success") {
                $(".singleCurrency")
                    .find('option')
                    .remove()
                    .end()
                    .append('<option hidden selected value=""></option>')
                    .val('');

                $.each(data.value, function(i, data) {
                    var div_data = "<option value=" + data.currency + ">" + data.name + " - " + data.currency + "</option>";
                    $(div_data).appendTo('.singleCurrency');
                });
            }
            else {
                toastr.warning(data.message);
            }
        },
        error: function(err) { }
    });
}

$('#btnAddBilling').on("click", function() {
    $.ajax({
        url: '/BillingPortal/GetBankIDbyNCR',
        data: {
            "NamaBank": $('#ab_BankName').val(),
            "CabangBank": $('#ab_Cabang').val(),
            "NoRekening": $('#ab_NoRekening').val()
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "Success") {
                var bankID = data.value;

                addBilling(bankID);
            }
            else {
                toastr.warning(data.message);
            }
        },
        error: function(err) { }
    });
});

function addBilling(bankID) {
    var statusDefault = "Waiting response";

    $.ajax({
        url: '/BillingPortal/AddBilling',
        data: {
            "TicketID":  $('#ab_TicketID').val(),
            "NoInvoice": $('#ab_NoInvoice').val(),
            "InvoiceDate": $('#ab_InvoiceDate').val(),
            "Amount": $('#ab_Amount').val(),
            "Currency": $('#ab_Currency').val(),
            "PONumberITK": null,
            "AttachBilling": null,
            "BankID": bankID,
            "Status": statusDefault,
            "StatusDate": null
        },
        dataType: 'json',
        success: function(data) {
            if (data.status == "Success") {
                uploadFiles();
            }
            else {
                toastr.warning(data.message);
            }
        },
        error: function(err) { }
    });
}

function uploadFiles() {
    var input = document.getElementById("ab_AttachmentFile");
    var files = input.files;
    var formData = new FormData();

    for (var i = 0; i !== files.length; i++) {
        formData.append("files", files[i]);
    }

    $.ajax(
        {
            url: "/BillingPortal/UploadFiles",
            data: formData,
            processData: false,
            contentType: false,
            type: "POST",
            success: function (data) {
                if(data.status != "Success"){
                    toastr.error(data.message);
                }
                else{
                    toastr.success('Record updated successfully.');
                    $('#modalAddBilling').modal('hide');
                }
            }
        }
    );
}

function getAutoIncrementPlusOne() {
        $.ajax({
        url: "/BillingPortal/GetTiketNumber",
        datatype: "json",
        type: "post",
        contenttype: 'application/json; charset=utf-8',
        async: true,
        success: function(data) {
            $('#ab_TicketID').val(data);
        },
        fail: function(xhr, textStatus, errorthrown) {
            toastr.error('Failed to execute.');
        }
    });
}

$('#btnAddBillingModal').on("click", function() {
    reset();
    
    getAutoIncrementPlusOne();

    GetAllCurrency();

    populateNamaBank();

    $('#modalAddBilling').modal('show');
});

</script>