﻿<br />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="row mb-4">
                            <h3 class="card-title"><b>@ViewBag.Local["billing_portal"].Value</b></h3>   
                        </div>
                        @if(ViewBag.Category=="Admin")
                        {
                        <div class="row">
                            <div class="col col-lg-5">
                                <div id="search-panel" class="container">
                                    <div class="search-body">
                                        <div class="container">
                                            <form style="padding: 20px 20px; background-color: #f2f2f2;">
                                                <div class="form-group mb-2">
                                                    <div class="row mb-2 justify-content-beetwen">
                                                        <div class="col col-lg-5">
                                                            <label for="ru_InvoiceDateStart" style="color:#5c5c5c;">@ViewBag.Local["invoice_date_start"].Value</label>
                                                        </div>
                                                        <div class="col col-lg-7">
                                                            <input type="text" class="form-control" id="ru_InvoiceDateStart" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <div class="row mb-2 justify-content-beetwen">
                                                        <div class="col col-lg-5">
                                                            <label for="ru_InvoiceDateEnd" style="color:#5c5c5c;">@ViewBag.Local["invoice_date_end"].Value</label>
                                                        </div>
                                                        <div class="col col-lg-7">
                                                            <input type="text" class="form-control" id="ru_InvoiceDateEnd" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <div class="row mb-2 justify-content-beetwen">
                                                        <div class="col col-lg-5">
                                                            <label for="ru_IncludeWHT" style="color:#5c5c5c;">@ViewBag.Local["include_wht"].Value</label>
                                                        </div>
                                                        <div class="col col-lg-7">
                                                            <input type="text" class="form-control" id="ru_IncludeWHT" placeholder=" " onkeyup="removeIsInvalidOne(this)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-2">
                                                    <div class="row mb-2 justify-content-beetwen">
                                                        <div class="col col-lg-5">
                                                            <label for="ru_Status" style="color:#5c5c5c;">@ViewBag.Local["status"].Value</label>
                                                        </div>
                                                        <div class="col col-lg-7">
                                                            <select class="form-select select ru2" id="ru_Status" onchange="GetAllProvinceByCountryID(this.value)"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="search-footer">
                                        <button type="button" class="btn btn-primary">@ViewBag.Local["search"].Value</button>
                                        <button type="button" class="btn btn-primary">@ViewBag.Local["export_data"].Value</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="table_billingportal" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="2">@ViewBag.Local["no"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["ticket_number"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["itk_po_number"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["vendor_name"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["invoice_date"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["invoice_number"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["currency"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["invoice_amount"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["file_attachment"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["tax_invoice_number"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["withholding_tax_amount"].Value</th>
                                    <th colspan="3" class="text-center">@ViewBag.Local["bank_information"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["status"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["due_date_payment"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["remarks"].Value</th>
                                    <th rowspan="2">@ViewBag.Local["action"].Value</th>
                                </tr>
                                <tr>
                                    <th>@ViewBag.Local["bank_name"].Value</th>
                                    <th>@ViewBag.Local["bank_account_number"].Value</th>
                                    <th>@ViewBag.Local["bank_branch"].Value</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button class="btn btn-primary" id="btnAddBillingModal" onclick="$('#modalAddBilling').modal('show');">@ViewBag.Local["add_invoice_billing"].Value</button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
